<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chadamine.growbuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
	
	<uses-feature
		android:name="android.hardware.camera"
		
		/>
	
	<uses-permission 
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		
		/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="false" >
        <activity
            android:name="com.chadamine.growbuddy.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.journal.JournalListActivity"
            android:label="Journal List Activity"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.journal.JournalDetailsActivity"
            android:label="@string/title_activity_main"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.analysis.AnalysisActivity"
            android:label="@string/title_activity_analysis" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.cultivation.CultivationListActivity"
            android:label="@string/title_activity_cultivation" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.schedule.ScheduleActivity"
            android:label="@string/title_activity_schedule" >
        </activity>

        <provider
            android:name="com.chadamine.growbuddy.database.DatabaseContentProvider"
            android:authorities="com.chadamine.growbuddy.provider" />

        <activity
            android:name="com.chadamine.growbuddy.cultivation.recipes.RecipesOverviewActivity"
            android:label="@string/title_activity_recipes" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.cultivation.plants.PlantsActivity"
            android:label="@string/title_activity_plants" >
        </activity>
        <!--
        <activity
            android:name="com.chadamine.growbuddy.cultivation.nutrients.NutrientsActivity"
            android:label="@string/title_activity_nutrients" >
        </activity>
        -->
        <activity
            android:name="com.chadamine.growbuddy.cultivation.irrigation.IrrigationActivity"
            android:label="@string/title_activity_irrigation" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.cultivation.pestdisease.PestDiseaseActivity"
            android:label="@string/title_activity_pest_disease" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.cultivation.environment.EnvironmentActivity"
            android:label="@string/title_activity_environment" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.cultivation.recipes.RecipesActivity"
            android:label="recipes activity" >
        </activity>
        <activity
            android:name="com.chadamine.growbuddy.management.locations.LocationsListActivity"
            android:label="@string/title_activity_locations_main" >
        </activity>
		<activity
			android:name="com.chadamine.growbuddy.cultivation.NutrientsListActivity"
			android:label="nutrients activity" >
		</activity>
			
    </application>

</manifest>
